<!-- HIT template: Survey-v3.0 --><!-- The following snippet enables the 'responsive' behavior on smaller screens -->
<meta content="width=device-width,initial-scale=1" name="viewport" />
<section class="container" id="Survey"><!-- Instructions -->
<div class="row">
<div class="col-xs-12 col-md-12">
<div class="panel-body" id="instructionBody">
<script src="https://assets.crowd.aws/crowd-html-elements.js"></script>

<!-- You must include crowd-form so that your task submits answers to MTurk -->
<crowd-form answer-format="flatten-objects">
<!-- End Instructions --><!-- Survey Layout -->

<div class="row" id="workContent" name= Bot004_036 >
<div class="col-sm-8 col-sm-offset-2">
<p style="margin-bottom: 15px; font-size: 16px; line-height: 1.72222; color: rgb(52, 73, 94); font-family: Lato, Helvetica, Arial, sans-serif;"><span style="color: rgb(209, 72, 65);">The result may not be approved if it is considered as cheating by checking utterances which consist of Obviously BREAKDOWN and NOT A BREAKDOWN utterances. </span></p>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend . </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_02" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_02" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_02" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me . </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_04" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_04" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_04" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ? </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_06" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_06" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_06" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool . </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_08" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_08" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_08" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool .<br>U: Do you have a car?<br>S: I do not. Do you ? </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_10" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_10" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_10" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool .<br>U: Do you have a car?<br>S: I do not. Do you ?<br>U: I don't have a car too<br>S: You can not do that. I am only in the process of purchasing a house .  Where are you? [SEE-NO-EVIL MONKEY] </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_12" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_12" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_12" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool .<br>U: Do you have a car?<br>S: I do not. Do you ?<br>U: I don't have a car too<br>S: You can not do that. I am only in the process of purchasing a house .  Where are you? [SEE-NO-EVIL MONKEY]<br>U: I am here<br>S: I am not looking for a job . </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_14" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_14" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_14" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool .<br>U: Do you have a car?<br>S: I do not. Do you ?<br>U: I don't have a car too<br>S: You can not do that. I am only in the process of purchasing a house .  Where are you? [SEE-NO-EVIL MONKEY]<br>U: I am here<br>S: I am not looking for a job .<br>U: What is your profession?<br>S: I am a baker. What about you ? </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_16" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_16" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_16" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool .<br>U: Do you have a car?<br>S: I do not. Do you ?<br>U: I don't have a car too<br>S: You can not do that. I am only in the process of purchasing a house .  Where are you? [SEE-NO-EVIL MONKEY]<br>U: I am here<br>S: I am not looking for a job .<br>U: What is your profession?<br>S: I am a baker. What about you ?<br>U: I am a life couch<br>S: I am a waiter, but have to go to work soon . </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_18" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_18" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_18" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool .<br>U: Do you have a car?<br>S: I do not. Do you ?<br>U: I don't have a car too<br>S: You can not do that. I am only in the process of purchasing a house .  Where are you? [SEE-NO-EVIL MONKEY]<br>U: I am here<br>S: I am not looking for a job .<br>U: What is your profession?<br>S: I am a baker. What about you ?<br>U: I am a life couch<br>S: I am a waiter, but have to go to work soon .<br>U: Do you like music?<br>S: I like all music. What do you like to do ? </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="_20" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="_20" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="_20" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

    <div class="panel panel-default">
    <div class="panel-body"><label><font color = "black">Read the text below paying close attention to detail, especially to the last utterance:</label>

    <p class="well">S: Hi!  It is nice to see you [SMILING FACE WITH SMILING EYES] How is your day going?<br>U: I am good. How are you ?<br>S: I am doing well. Just got done with my girlfriend .<br>U: What did you do with her?<br>S: She was a professional eater, but i am not looking to marry me .<br>U: What do you mean?<br>S: I am a woman, and you ?<br>U: I am a man)<br>S: I am only 22, so that is cool .<br>U: Do you have a car?<br>S: I do not. Do you ?<br>U: I don't have a car too<br>S: You can not do that. I am only in the process of purchasing a house .  Where are you? [SEE-NO-EVIL MONKEY]<br>U: I am here<br>S: I am not looking for a job .<br>U: What is your profession?<br>S: I am a baker. What about you ?<br>U: I am a life couch<br>S: I am a waiter, but have to go to work soon .<br>U: Do you like music?<br>S: I like all music. What do you like to do ?<br>U: How are you?<br>S: I am a green fire of fish </p>
    Select one of the breakdown labels. (required)

    <div class="radio"><label><input name="output_check" required="true" type="radio" value="NOT BREAKDOWN" /><font color = "green">NOT A BREAKDOWN </label></div>

    <div class="radio"><label><input name="output_check" required="true" type="radio" value="POSSIBLE BREAKDOWN" /><font color = "#ffbf00">POSSIBLE BREAKDOWN </label></div>

    <div class="radio"><label><input name="output_check" required="true" type="radio" value="BREAKDOWN" /><font color = "red">BREAKDOWN </label></div>
    </div>
    </div>
    <br>

</div>
</div>
